<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.wechatOA.WechatOaMapper">


      <resultMap id="UsermessageMap" type="com.dhxx.facade.entity.weappOA.Usermessage">
         <result column="wechat_unionid" property="unionid"/>
         <result column="wechat_phone" property="phone"/>
         <result column="wechat_openid" property="openid"/>
     </resultMap>

 <!--
       #{unionid,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{openid,jdbcType=VARCHAR}
    -->
    <!-- 登录的时候存储信息 -->
        <insert id="saveUserMessage" parameterType="com.dhxx.facade.entity.weappOA.Usermessage" >
           insert into t_wechatuser(wechat_unionid,wechat_phone,wechat_openid)
           values
           (
           #{unionid,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{openid,jdbcType=VARCHAR}
           )
        </insert>
     <!-- 查找是否存在用户 -->
        <select id="find"  resultType="String">
                 SELECT wechat_unionid from t_wechatuser WHERE wechat_unionid=#{unionid}
        </select>

      <!-- 查看待付订单的时候，如果session域中没值，用unid去数据库查询 -->
    <select id="findUserMessage"  resultType="Map">
        SELECT wechat_unionid,wechat_phone,wechat_openid from t_wechatuser WHERE wechat_unionid=#{unionid,jdbcType=VARCHAR}
    </select>


</mapper>