<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.additional.AdditionalNumMapper">

    <resultMap id="AdditionalNumMap" type="java.util.HashMap">
        <result column="meals" property="meals" />
        <result column="accommodation" property="accommodation" />
        <result column="highway" property="highway"/>
        <result column="insurance" property="insurance"/>
        <result column="water" property="water"/>
    </resultMap>

    <select id="find" parameterType="com.dhxx.facade.entity.additional.AdditionalNum" resultMap="AdditionalNumMap">
          select * from  t_additionalnum t where rownum&lt;2

    </select>
    <insert id="save" parameterType="com.dhxx.facade.entity.additional.AdditionalNum">

        insert into t_additionalnum (
        meals,
        accommodation,
        highway,
        insurance,
        water
        )
        values (
        #{meals ,jdbcType=VARCHAR},
        #{accommodation ,jdbcType=VARCHAR},
        #{highway ,jdbcType=VARCHAR},
        #{insurance ,jdbcType=VARCHAR},
        #{water ,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.dhxx.facade.entity.additional.AdditionalNum">
        update  t_additionalnum t
        <set>
            <if test="meals != '' and meals != null ">
                t.meals = #{meals},
            </if>
            <if test="accommodation != '' and accommodation != null ">
                 t.accommodation = #{accommodation},
            </if>
            <if test="highway != '' and highway != null ">
                 t.highway = #{highway},
            </if>
            <if test="insurance != '' and insurance != null ">
                 t.insurance = #{insurance},
            </if>
            <if test="water != '' and water != null ">
                 t.water = #{water},
            </if>
        </set>
    </update>

</mapper>